@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&family=Mukta:wght@200;300;400&display=swap');

* {
     margin: 0;
}
section{
     width: 100%;
     transition: all 0.9s ease-in-out;
     position: relative;
     font-family: 'Montserrat', sans-serif;
     height: auto;
}

@media (max-width: 450px){
     section{
          height: 300px;
     }
}

/* @media screen and (max-width: 1520px) {
     section {
         height: 90vh;
     }
}
@media screen and (max-width: 1030px) {
     section {
          width: 100vw;
          height: 80vh;
     }
}
@media screen and (max-width: 930px) {
     section {
          height: 70vh;
     }
}
@media (max-width: 500px) {
     section {
          height: 60vh;
     }
}
@media (max-width: 450px) {
     section {
          height: 50vh;
     }
}
@media (max-width: 300px) {
     section {
          height: 40vh;
     }
} */

.flex {
     display: flex;
     align-items: center;
     position: absolute;
     gap: 20% !important;
     bottom: 4%;
     left: 7%;
}

.icon {
     font-size: 35px;
     color: #FF0404;
     border-radius: 50%;
     background-color: #FFF;
}


/* Special */
